# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, executable, or object files
*.test
*.out
coverage.txt
coverage.out

# Output and temporary build directories
bin/
out/
tmp/
build/

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Environment Variables
.env
.env.*

# OS and Editor files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
